# History files
.Rhistory
.bash_history

# Session Data files
.RData
.Ruserdata

.quarto/

.local/


# RStudio files
.Rproj.user/
.config/

# knitr and R markdown default cache directories
.cache/

.TinyText/

